.bicycles-mobile__filter-container {
    width: 114px;
    height: 31px;
    border: 1px solid #E3E3E3;
    margin: 44px 0 0 0;
    padding: 0 0 0 8px;
    font-size: $font-size--filter;
    font-weight: $font-weight--SemiBold;
    line-height: $line-height; 
}