.workouts__description {
    font-size: $font-size--description;
    font-weight: $font-weight--regular;
    line-height: 1.5;
    max-width: 460px;
    margin: 44px 0 0 0;
    grid-row: 2;
    grid-column: 1;
    opacity: 0.7;
}

@media screen and (max-width: $screen--lg) {
    .workouts__description {
        font-size: $font-size--quote-author-profession;
        max-width: 360px;
    }
}

@media screen and (max-width: $screen--s) {
    .workouts__description {
        font-size: $font-size--header-nav;
        margin: 40px 0 0 0;
        grid-row: 3;
    }
}

@media screen and (max-width: $screen--xs) {
    .workouts__description {
        font-size: $font-size--description-mobile;
        max-width: 284px;
    }
}