.intro__sticky-name {
    font-size: $font-size--description;
    font-weight: $font-weight--regular;
    line-height: $line-height;
    margin: 0;
    color: $text-color--title-light;
    padding-top: 5px;
}