.bicycles__link_active-dark_theme_dark {
    font-weight: $font-weight--SemiBold;
    color: $text-color--title-dark;
    opacity: 1;
}
        
.bicycles__link_active-dark_theme_dark:hover {
    opacity: 0.65;  
}