.intro__image {
    max-width: 610px;
}

@media screen and (max-width: $screen--lg-max) {
    .intro__image {
        max-width: 531px;
    }
}

@media screen and (max-width: $screen--lg) {
    .intro__image {
        max-width: 394px;
    }
}

@media screen and (max-width: $screen--md) {
    .intro__image {
        max-width: 300px;
    }
}

@media screen and (max-width: $screen--s) {
    .intro__image {
        margin: 42px 0 0 197px;
        max-width: 280px;
    }
}

@media screen and (max-width: $screen--xs) {
    .intro__image {
        position: static;
        margin: 42px 0 0 48px;
        max-width: 254px;
    }
}