.quote__author {
    font-size: $font-size--quote-author;
    font-weight: $font-weight--medium;
    line-height: $line-height;
    margin: 264px 0 0 0;
    color: $text-color--title-light;
}

@media screen and (max-width: $screen--lg) {
    .quote__author {
        font-size: $font-size--description;
        margin: 168px 217px 0 0;
    }
}

@media screen and (max-width: $screen--md) {
    .quote__author {
        font-size: $font-size--header-nav;
        margin: 168px 217px 0 0;
    }
}

@media screen and (max-width: $screen--s) {
    .quote__author {
        margin: 42px 0 0 0;
    }
}