.intro__sticky-image {
    position: absolute;
    top: 306px;
    right: calc(171px - (1440px - 100vw));
}

@media screen and (max-width: $screen--xl) {
    .intro__sticky-image {
        right: 171px;
        width: 879px;
    }
}

@media screen and (max-width: $screen--lg-max) {
    .intro__sticky-image {
        right: 171px;
        width: 752px;
    }
}

@media screen and (max-width: $screen--lg) {
    .intro__sticky-image {
        top: 229px;
        right: 88px;
        width: 610px;
    }
}

@media screen and (max-width: $screen--md) {
    .intro__sticky-image {
        width: 500px;
    }
}


@media screen and (max-width: $screen--s) {
    .intro__sticky-image {
        width: 460px;
        top: 112px;
        right: calc(282px - (768px - 100vw));
    }
}

@media screen and (max-width: $screen--xs) {
    .intro__sticky-image {
        right: calc(100vw - 320px);
        width: 320px;
        top: 225px;
    }
}