.title {
    margin: 0;
    font-size: $font-size--title;
    font-weight: $font-weight--bold;
    line-height: $line-height;
    color: $text-color--title-light;
}

@media screen and(max-width: $screen--s) {
    .title {
        font-size: $font-size--title-mobile;
    }
}
