.footer {
    background-color: $color-background--footer-light;
    max-width: 100%;
    margin: 117px 0 0 0;
}

@media screen and (max-width: $screen--s) {
    .footer {
        margin: 66px 0 0 0;
    }
}