.switcher-conteiner_mobile_open {
    display: none;
}

@media screen and (max-width: $screen--s) {
    .switcher-conteiner_mobile_open {
        display: flex;
        margin: 295px auto 34px;
    }
}