.bicycles__nav {
    display: flex;
    gap: 38px;
    list-style-type: none;
    margin: 26px 0 0 0;
}

.bicycles__link:hover {
    cursor: url(../../../../../image/icon-cursor.svg), pointer;
    opacity: 0.6;
}

@media screen and(max-width: $screen--md) {
    .bicycles__nav {
        gap: 28px;
        padding: 0;
    }
}